#form_header{
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
#form_content{
  width: 300px;
}
.a{
  font-size: 1.2em;
}
.form_join{
  width: 300px;
  border: 1px solid #000000;
  margin: 0 auto;
}
.table_join{
  width: 300px;
  border: 1px solid #000000;
  margin: 0 auto;
}
.form_content{
  border-spacing: 0px;  
  width: 85%;
  margin: 0 auto;
  border: 1px solid #000000;
}
.form_content tr th{
   height: 35px;
   border-right: 1px solid #000000;
   border-bottom: 1px solid #000000;
   text-align: center;
   background: #81BEF7;
}
.form_content tr td{
   height: 35px;
   border-right: 1px solid #000000;
   border-bottom: 1px solid #000000;
   text-align: center;
}
#aaa input{
  width: 80px;
}
#team_table{
  margin: 0 auto;
  border: 1px solid #000000;
}
#team_table tr td{
  text-align: center;
  width: 100px;
  border: 1px solid #000000;
}
#team_table tr th{
  text-align: center;
  width: 200px;
  border: 1px solid #000000;
}
#page_wrap{
    width: 500px;
    text-align:center;
    margin: 0 auto;
}
.page-item{
    float:left;
    width: 35px;
    list-style: none;
}
.form_register{
    width: 85%;
    margin: 0 auto;
}
.form_register input{
    width: 100px;
    margin-bottom:10px;
}
.register_form{
    width: 50%;
    float: left;
}
.form_bt {
    border-radius: 5px;
}
.register_form input{
    border-radius: 5px;
}
.search_bt{
    float:right;
}